@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab:wght@200&display=swap'); 

.nav-link {
    font-family: 'Oswald', sans-serif;
    font-size: 150%;
    color: white;
}

.navbar, footer {
    background-color: rgba(141, 110, 151, 0.719);
}

.site_logo {
    height: 100px;
    width: 280px;
}

.nav-bg-design {
    text-align: center;
}

.copyright {
    margin-bottom: 0;
}

.opening-times {
    margin-bottom: 6px;
}

#map {
    height: 250px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

.footer-colour {
    background-color: rgba(141, 110, 151, 0.719);
}

footer {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.footer-pad {
    padding-top: 12px;
}



.hero-image {
    width: 100%;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.hero-text {
    font-size: 400%;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    font-weight: 900;
}

.hero-btn {
    margin-top: 30px;
}

.hero-btn > button {
    color: white;
    border-color: white;
}

.card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
} 

.card-heading {
    font-size: 25px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 800;
}

.card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(141, 110, 151, 0.719);
    color: #fff;
    border-radius: 0 0 8px 8px;
}

.card-button:hover {
    text-decoration: none;
    background-color: #1D3461;
    color: #fff;

}

.home-page-header {
    font-size: 350%;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    margin: 20px;
    color: white;
}

body {
    background-color: black;
}

.about-us-text {
    color: white;
}


.about-me-image {
    border-radius: 6rem;
    max-width: 90%;
}