@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu&display=swap');

.nav-link {
    font-family: 'Oswald', sans-serif;
    font-size: 150%;
    color: white;
}

.navbar, footer {
    background-color: rgba(141, 110, 151, 0.719);
}

.site_logo {
    height: 100px;
    width: 280px;
}

.nav-bg-design {
    text-align: center;
}

.copyright {
    margin-bottom: 0;
}

.opening-times {
    margin-bottom: 6px;
}

#map {
    height: 250px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

.footer-colour {
    background-color: rgba(141, 110, 151, 0.719);
}

footer {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
}

.footer-pad {
    padding-top: 12px;
}



.hero-image {
    width: 100%;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.hero-text {
    font-size: 400%;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    font-weight: 900;
}

.hero-btn {
    margin-top: 30px;
}

.hero-btn > button {
    color: white;
    border-color: white;
}

.card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
} 

.card-heading {
    font-size: 25px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 800;
}

.card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(141, 110, 151, 0.719);
    color: #fff;
    border-radius: 0 0 8px 8px;
}

.card-button:hover {
    text-decoration: none;
    background-color: #1D3461;
    color: #fff;

}

.home-page-header {
    font-size: 350%;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    margin: 40px;
    color: white;
}

body {
    background-color: black;
}

.about-us-text {
    color: white;
    font-family: 'Ubuntu', sans-serif;
}


.about-me-image {
    border-radius: 6rem;
    max-width: 90%;
}

.about-header {
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
}

.about-text {
    font-size: 18px;
}

@media (max-width: 1060px) {
    .hero-text {
        font-size: 280%;
    }

    .hero-btn {
        margin-top: 15px;
    }
}

@media (max-width: 760px){
    .hero-btn {
        margin-top: 8px;
    }

    .btn-lg {
        display: none;
    }
}

@media (max-width: 580px){
    .hero-text {
        font-size: 210%;
    }
    .home-page-header {
        font-size: 220%;
    }
}

@media (max-width: 440px){
    .site_logo {
        height: 70px;
        width: 190px;
    }
}

.rooms {
    color: #fff;
}

.projects-header {
    padding-bottom: 15px;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    color: rgba(141, 110, 151, 0.719);
}

.project-skills {
    font-size: 20px;
    margin-bottom: 0;
    color: rgba(141, 110, 151, 0.719);
}

.img-resize {
  max-width: 100%;
  height: auto;
}

.project-section {
    margin: 10px;
}

.room-div {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
}

#book-button {
    background-color: rgba(141, 110, 151, 0.719);
    border-color: rgba(141, 110, 151, 0.719);
}

#book-button:hover {
    background-color: white;
    color: black;
    border-color: white;
}