{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
      <!-- Shows the form only is user is logged in -->
      {% if user.is_authenticated %}
        {% if not booked %}
 
          <div class="container login-text">
            <div class=" booking-text">
              {% if error %}
              <h1 class="alert alert-success success-msg error-msg">{{error}}</h1>
              {% endif %}
                <h3 class="login-book-header">Place Your Booking</h3>
                <form method="post">
                  {{ form | crispy }}
                  {% csrf_token %}
                  <button type="submit" class="btn btn-secondary btn-lg btn-card submit-btn"
                  id="book-button">Submit</button>
                </form>
            </div>
          </div>
        {% else %}
        <div class="box">
        <div class=" confirmation center">
          <h1 class="confirmation-header">Thank you!</h1>
          <p class="email-message">We look forward to seeing you play with us!</p>
          <p class="email-confirm">You will have recieved a confirmation email!</p>
          <p>Manage your <a href="{% url 'account' %}" class="decoration"> Bookings</a></p>
        </div>
        </div>
        {% endif %}
      {% else %}
      <div class="container">
        <div class=" booking-text">      

        <h2 class="login-book-header">Make A Booking</h2>
      <p class="">To place a new booking or see your exisiting ones you need to be logged in.
        If you have not created an account yet, then please sign up first.</p>
        <a href="{% url 'account_signup' %}" class="btn btn-primary booking-button">Signup</a>
        <a href="{% url 'account_login' %}" class="btn btn-primary booking-button">Login</a>
      {% endif %}
      <script>
      $(document).ready(function () {
          (document.getElementById("id_time"));
          $('.timepicker').timepicker({
              timeFormat: 'HH:mm',
              interval: 60,
              minTime: '10',
              maxTime: '18:00',
              defaultTime: '10:00',
              startTime: '10:00',
              dynamic: false,
              dropdown: true,
              scrollbar: true
          });
});
      </script>
{% endblock %}