{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="hero">
    <div>
        <img src="{% static 'images/escape room.jpg' %}" class="img-fluid hero-image"
            alt="welcome text message">
    </div>
    <div class="welcome-text centered">
        <h2 class="hero-text"><strong>Welcome</strong></h2>
        <h2 class="hero-text">To The</h2>
        <h2 class="hero-text">Escape Room</h2>
        <div class="hero-btn">
            <button type="button" class="btn btn-outline btn-lg" id="home-book">BOOK TO PLAY</button>
        </div>
    </div>
</div>
<div class="popular-room-header">
    <h2 class="text-center home-page-header">
        OUR MOST POPULAR ROOMS
    </h2>
</div>
<div class="container">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div>
                    <div class="card-image">
                        <img
                            src="{% static 'images/ghost.jpg' %}" />
                    </div>
                    <h5 class="card-heading">
                       Ghost Train
                    </h5>
                    <div class="card-text">
                        Experience a live-action puzzle game like no other with our ghost train escape room. 
                        You and your team will be locked inside a creepy old train, tasked with using your problem-solving skills to escape before time runs out. 
                        This room will transport you to a world filled with ghostly apparitions, interactive secrets and other supernatural phenomena.
                    </div>
                    <div class="card-text">
                        Can you and your team escape the haunted train before it's too late?
                    </div>
                    <a href="#" class="card-button"> Book</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div>
                    <div class="card-image">
                        <img
                            src="{% static 'images/royal_throne.jpg' %}" />
                    </div>
                    <h5 class="card-heading">
                        Royal Throne
                    </h5>
                    <div class="card-text">
                        Welcome to our royal escape room! As you and your team enter the opulent palace, you'll be transported to a world of royal intrigue and mystery.
                        you'll be challenged to use your wit and problem-solving skills to unravel the mysteries of the royal court.
                        Search for hidden clues and solve intricate puzzles as you navigate the lavish halls and chambers of the palace.
                    </div>
                    <div class="card-text">
                        Are you ready to claim your throne and escape the royal palace?
                    </div>
                    <a href="#" class="card-button"> Book</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div>
                    <div class="card-image">
                        <img
                            src="{% static 'images/woods.jpg' %}" />
                    </div>
                    <h5 class="card-heading">
                        In The Woods
                    </h5>
                    <div class="card-text">
                        Escape the wooded realm in our live-action puzzle game. You and your team will be challenged to use your problem-solving skills to navigate
                         the treacherous forest and escape before time runs out. Search for hidden clues and solve intricate puzzles as you explore the lush wilderness, 
                         and be on the lookout for wild animals and other natural hazards.
                    </div>
                    <div class="card-text">
                        Are you ready to brave the wilds and escape the wooded realm?
                    </div>
                    <a href="#" class="card-button"> Book</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-lg mb-3 pt-3" id="about_us">
    <div class="row mx-2 pb-md-5">
        <div class="col-12 col-md-6 mt-xxl-5 p-lg-5 about-us-text row">
            <h2 class="mb-5 my-auto about-header">ABOUT US</h2>
            <p class=" about-text">We are proud to say that we have been in operation for 6 years, and in that time, we have established ourselves 
            as a leading provider of high-quality escape room experiences.<br><br>
            We are a team of experienced designers, puzzle masters, and immersive storytellers who are passionate about 
            creating memorable and thrilling experiences<br><br>We are dedicated to providing high-quality, unique, and immersive escape room experiences.
            <br><br>
            Thank you for choosing us for your escape room adventure. We look forward to hosting you and your friends or colleagues and hope to see you again soon!</p>
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-0 p-lg-5 row">
            <img class="img-fluid my-auto"
                src="{% static 'images/about us.jpg' %}"
                alt="image of about us">
        </div>
    </div>
</div>
{% endblock %}