{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="hero">
    <div>
        <img src="{% static 'images/escape room.jpg' %}" class="img-fluid hero-image"
            alt="welcome text message">
    </div>
    <div class="welcome-text centered">
        <h2 class="hero-text"><strong>Welcome</strong></h2>
        <h2 class="hero-text">To The</h2>
        <h2 class="hero-text">Escape Room</h2>
        <div class="hero-btn">
            <button type="button" class="btn btn-outline-secondary btn-lg">BOOK TO PLAY</button>
        </div>
    </div>
</div>
{% endblock %}