{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
      <h1 class="text-center confirmation-header" style="margin: 3%;">My Bookings</h1>
      
      <div class="card" style="width: 100%; margin-bottom: 10px;">
        <div class="card-body">
          <div class="card-text">
            <div class="table-responsive">
              <table class="table">
                
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Room</th>
                  <th scope="col">Actions</th>
                </tr>
                {% for booking in bookings %}
                <tr>
                  <td>{{ booking.date }}</td>
                  <td>{{ booking.time }}</td>
                  <td>{{ booking.room_name }}</td>
                  <td><a href="{% url 'update' booking.id  %}" class="btn btn-primary">Update</a>
                  <a href="{% url 'delete' booking.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to cancel? This can not be undone.')">Cancel</a>
                </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

{% endblock %}