{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
      
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-success fade show success-msg" id="msg" role="alert">
        <strong>{{message}}</strong>
      </div>
      {% endfor %}
      
      <h1 class="text-center confirmation-header" style="margin: 3%;">My Bookings</h1>
      {% for booking in bookings %}
      {% if forloop.first %}
      <div class="card" style="width: 100%; margin-bottom: 10px;">
        <div class="card-body">
          <div class="card-text">
            <div class="table-responsive">
              <table class="table">
                
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Room</th>
                  <th scope="col">Actions</th>
                </tr>
                {% endif %}
                <tr>
                  <td>{{ booking.date }}</td>
                  <td>{{ booking.time }}</td>
                  <td>{{ booking.room_name }}</td>
                  <td><a href="{% url 'update' booking.id  %}" class="btn btn-primary">Update</a>
                  <a href="{% url 'delete' booking.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to cancel? This can not be undone.')">Cancel</a>
                </td>
                </tr>
                {% if forloop.last %}
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% empty %}
      <p class="no-bookings">You have no bookings</p>
      <a href="{% url 'book' %}" class="btn btn-primary booking-button right no-booking-btn">Book A Room</a>
      {% endfor %}
    </div>
  </div>
</div>
<script>
  setTimeout(function(){
    let messages = document.getElementById("msg");
    let alert = new bootstrap.Alert(messages);
    alert.close();
  }, 3000);
</script>
{% endblock %}